<?xml version="1.0"?>
<launch>
    <arg name="fact_topic" default="/fact_publisher"/>
    <arg name="fact_config_path" default="$(find symbolic_fact_generation)/config/facts_config.yaml"/>
    <arg name="arm_postures_yaml" default="$(find symbolic_fact_generation)/config/arm_postures.yaml"/>
    <arg name="robot_namespace" default="mobipick"/>
    <arg name="map_frame" default="map"/>
    <!-- Object-on-object "on" facts (a relay resting on a multimeter). Dataset
         ground truth only: off by default, so the robot demo keeps on(obj, table)
         facts only. -->
    <arg name="stacking_facts" default="false"/>
    <arg name="stacking_margin_m" default="0.05"/>
    <arg name="stacking_min_height_m" default="0.03"/>

    <param name="fact_topic" type="str" value="$(arg fact_topic)"/>
    <param name="fact_config_path" type="str" value="$(arg fact_config_path)"/>
    <param name="arm_postures_yaml" type="str" value="$(arg arm_postures_yaml)"/>
    <param name="robot_namespace" type="str" value="$(arg robot_namespace)"/>
    <param name="map_frame" type="str" value="$(arg map_frame)"/>

    <node name="fact_publisher" pkg="symbolic_fact_generation" type="fact_publisher" respawn="false" output="screen">
        <param name="stacking_facts" value="$(arg stacking_facts)"/>
        <param name="stacking_margin_m" value="$(arg stacking_margin_m)"/>
        <param name="stacking_min_height_m" value="$(arg stacking_min_height_m)"/>
    </node>

</launch>